
/* Header and Footer styles */
header, footer {
    padding: 15px 30px;
    display: flex;
    justify-content: center;

    background-color: #210F37;

    text-align: center;
    text-shadow: 1px 3px 3px black;
    font-size: large;
}
#header-container, #footer-container {
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: center;
}

/* Header */
#header-main-title {
    max-width: 600px;
    width: 100%;

    background-color: #4F1C51;

    font-size: larger;
}
header h1 {
    margin: 10px;
}

/* Footer */
#footer-grid {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-list {
    margin: 0 5px;
    background-color: #4F1C51;
}

/* Main content styling */
main {
    flex-grow: 1;
}