
/* Header styles */
header {
    padding: 15px 30px;
    display: flex;
    justify-content: center;

    background-color: darkred;

    text-align: center;
    color: white;
    text-shadow: 1px 3px 3px black;
    font-size: large;
}
#header-container {
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: center;
}
#header-main-title {
    max-width: 600px;
    width: 100%;

    background-color: brown;

    font-size: larger;
}
header h1 {
    margin: 10px;
}