
/* Header and Footer styles */
header, footer {
    padding: 0 30px;
    display: flex;
    justify-content: center;

    background-color: #210F37;

    text-align: center;
}
#header-container, #footer-container {
    margin: 10px 0;
    
    max-width: 1080px;
    width: 100%;

    display: flex;
    justify-content: center;
}

/* Header */
header {
    border-bottom: 7px solid #A55B4B;
}
#header-main-title {
    max-width: 600px;
    width: 100%;

    background-color: #4F1C51;

    font-size: larger;
}
header h1 {
    margin: 10px;
}

/* Footer */
footer {
    border-top: 7px solid #A55B4B;
}
#footer-grid {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    
.footer-list {
    margin: 0 5px;
    padding: 0 5px;

    border-color: #A55B4B;
    border-width: 5px 0;
    border-style: solid;

    background-color: #4F1C51;
}

/* Main content styling */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
#content-container {
    margin: 20px 0;
    padding: 0 20px;

    max-width: 960px;
    width: 100%;
}

/* adapt for smaller screens */
@media (max-width: 768px) {
    #footer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .footer-list {
        margin: 10px 0;
    }
}