:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    text-shadow: 1px 3px 3px black;
    color: #DCA06D;
}

body {
    margin: 0;
    
    background-color: #210F37;
    
    background-image: url("bran-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#root {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

/* Secondary link colors (derived from the color pallete) */
a:link {
    color: #BC6ABf;
}
a:visited {
    color: #A65542;
}