
/* Header and Footer styles */
header, footer {
    padding: 0 30px;
    display: flex;
    justify-content: center;

    background-color: #210F37;

    text-align: center;
}
#header-container, #footer-container {
    margin: 10px 0;
    
    max-width: 1080px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

/* Header */
header {
    border-bottom: 7px solid #A55B4B;
}
#header-main-title {
    margin: 0 10px;
    padding: 0 100px;

    background-color: #4F1C51;

    font-size: larger;
}
header h1 {
    margin: 12px;
}
/* Header auth box */
#header-balancer {
    width: 250px;
}
#header-auth-container {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}
.header-auth-button {
    margin: 0 5px;
    width: 100%;
    min-width: 80px;
    max-width: 120px;

    background-color: #4F1C51;
    
    border-color: #A55B4B;
    border-width: 5px 0;
    border-style: solid;

    color: #DCA06D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.header-auth-button:hover {
    color:#8F6139;
    cursor: pointer;
}
.header-auth-button:active {
    font-weight: bold;
    background-color: #371438;
}

/* Footer */
footer {
    border-top: 7px solid #A55B4B;
}
#footer-grid {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    
.footer-list {
    margin: 0 5px;
    padding: 0 5px;

    border-color: #A55B4B;
    border-width: 5px 0;
    border-style: solid;

    background-color: #4F1C51;
}

/* Main content styling */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    font-size: large;
}
#content-container {
    margin: 20px 0;
    padding: 0 20px;

    max-width: 960px;
    width: 100%;
}

/* adapt for smaller screens */
@media (max-width: 768px) {
    #footer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .footer-list {
        margin: 10px 0;
    }
}